{% extends 'main.html' %}
{% block title %}<title>Интернет-магазин</title>{% endblock %}
{% block description %}
    <meta name="description" content="Оплата и доставка в Интернет магазине"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="оплата, доставка, оплата в магазине, доставка магазин"/>
{% endblock %}
{% block content %}
<div id="article">
	<h2>Оплата и доставка</h2>
	<p>У нас есть 2 варианта доставки: доставка по почте наложенным платежом и самовывоз.</p>
	<p>Возможны и другие варианты оплаты и доставки, о которых можно договориться по телефону с менеджером после оформление заказа.</p>
	<p>Данный сайт является тестовым. Создан с помощью фреймворка Django <a href="https://www.djangoproject.com/">Официальный сайт</a></p>
	<p>В связи с этим, сайт ничего в реальности не продаёт. Поэтому, заказав какой-нибудь продукт, не стоит ждать, что он к Вам придёт.</p>
</div>
{% endblock %}